@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {

    font-family: "Roboto", sans-serif;
    font-size: 16px;

}

:root {

    --background-color: #f5f5f5;
    --dark-gray-background: #ebebeb;
    --Primary-color: #f84464;
    --blue-background: #2b3149;
    --white: #ffffff;
    --black: #000000;
    --heading-font: "Roboto", sans-serif;
    --paragraph-font: "Roboto", sans-serif;

}

/* boxed width inner container  */


.inner-container {

    width: 80%;
    margin: 0 auto;
    /* border : 1px solid red; */
}

.only-d-flex {

    display: flex;
    align-items: center;
}

.d-inline-block {

    display: inline-block;
}

/* 
.center-flex{

    align-items: center;
} */







/* navbar css start from here  */


.NavBar {
    height: 64px;


}


.NavBar .logo {

    order: 1;
    flex-grow: 0;
    margin: auto;

}

.NavBar .logo img {

    width: 120px;



}

.NavBar .searchBar {

    order: 2;
    flex-grow: 1;
    margin: auto;

}

.NavBar .city {

    order: 3;
    flex-grow: 0;
    margin: auto;


}

.NavBar .signIn-section {

    order: 4;
    flex-grow: 0;
    margin: auto;
}

.NavBar .smallMenu {

    order: 5;
    flex-grow: 0;
    margin: auto;
}






/* Navigation bar search  css start from here  */




.NavBar .searchBar .searchBox {

    border: 1px groove rgba(128, 128, 128, 0.338);
    border-radius: 4px;
    width: 60%;
    align-content: center;
    padding: 5px 10px;
    margin-left: 20px;
}



.NavBar .searchBar input {

    border: none;
    box-shadow: none;
    outline: none;
    width: 80%;
    margin-left: 10px;

}

.NavBar select {

    border: none;
    outline: none;
    margin-right: 24px;
}



/* navigation bar css ends here  */









/* navigation bar button  and hamburger menu css start from here */

.btn {

    padding: 0.3rem 0.6rem;
    background-color: var(--Primary-color);
    color: var(--white);
    border: none;
    border-radius: 4px;
    font-family: var(--paragraph-font);
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
}

.btn-1 {

    margin-right: 24px;
}


.smallMenu ion-icon {

    font-size: 30px;
}





/* navigation bottom bar css start from here  */




.headerBar {}

.inner-section-headerBar {

    width: 80%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;

}



.headerBar {

    background-color: var(--background-color);
    height: 40px;
    /* align-items: center; */
    /* font-size: 12px; */
    align-items: center;
    display: flex;
}

.headerBar .menuLeft {

    align-items: center;
}

.headerBar .menuLeft li {

    padding: 0px 12px 0px 0px;
    font-size: 14px;
}

.headerBar .menuRight li {

    padding: 0px 0px 0px 12px;
    font-size: 12px;
}




/* hero section css start from here  */



.hero-section {

    background-color: var(--dark-gray-background);
    max-width: 100%;
    padding: 20px 0px;

}

.inner-hero {

    background-image: url(/Images/main-hero-banner-slider-mockup.jpg);
    min-height: 300px;
    width: 80%;
    border-radius: 10px;
    margin: 0 auto;

}



/* movies card css start from here  */


.movies {

    /* display: flex; */
    /* max-width: 1280px; */
    width: 80%;
    margin: 0 auto;
    padding: 1rem 1rem;
}

.movies-inner {

    display: flex;
    justify-content: space-between;

}


.movies .movies-inner p {

    font-size: 0.8rem;

}

.movies .movies-inner p a {


    text-decoration: none;
    color: var(--Primary-color);
    display: inline-block;
}

.movies .movies-inner a::after {

    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../Images/logo-main.png) no-repeat;
    background-size: contain;
    margin: auto;

}

.moviesCards {

    display: grid;
    padding-top: 0.2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;

}


.poster-image-1 {

    background-image: url(/Images/crew-2024-et00344265-1709532971.jpg);
    background-size: cover;
    height: 45vh;
    border-radius: 10px;
    position: relative;

}

.review {

    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 10px 10px;
    display: flex;

}

.review ion-icon {

    color: red;
}

.review p {

    color: var(--white);
    margin-left: 0.4rem;
}

.movie-details {

    margin-top: 0.8rem;
}

.movie-details p {

    margin-top: 0.4rem;
}




/* small banner css start from here  */


.small-banner {

    /* border: 1px solid red; */
    background: url(../Images/stream-leadin-web-collection-202210241242.jpg) no-repeat;
    background-size: cover;
    height: 7rem;
    border-radius: 8px;
    margin-top: 3rem;
    margin-bottom: 3rem;

}




/* category list start from here  */

.cat-poster-image-1 {

    background-image: url(../Images/ipl-2024-web-collection-202403130643.png);
    background-size: cover;
    height: 14rem;
    border-radius: 10px;
    position: relative;

}


/* blue backgrond section start from here  */


.blue-bg {

    background-color: var(--blue-background);
    padding-top: 3rem;
    padding-bottom: 3rem;
}



.head-text {

    display: flex;


}

.head-text .play-icon ion-icon {

    color: var(--Primary-color);
    font-size: 4rem;
    align-content: center;
}

.blue-bg-text {

    margin-left: 0.5rem;
    align-content: center;

}

/* .blue-bg-text h2, .left-content h2, .left-content p, .flag h2{

    color: var(--white);
} */

.text-white {

    color: var(--white);
}

.blue-bg-text p {

    color: var(--white);
    font-size: 14px;
}

.flag {

    background-color: var(--Primary-color);
    width: 60%;
    position: absolute;
    bottom: 0;
    width: 70%;
    border-radius: 0 0 0px 10px;
    padding: 0.3rem 0.3rem;

}







/* trending searches cards css start from here  */



.trending-searches {}

.inner-ts {

    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
}


.trend-box {

    background-color: var(--white);
    border: 2px solid var(--Primary-color);
}

/* trending searches cards css ends here  */



.footer-top-bar{

    background-color: var(--blue-background);
    font-size: large; 
    color: var(--white);
    /* this is only for testing of git pull push */

}